@import "src/assets/vars";

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $black-3;
  z-index: 1000;
  transition: opacity 200ms $transition;
  cursor: pointer;

  .modal {
    background: $background-1;
    width: 80%;
    // height: 600px;
    min-height: 500px;
    max-width: 700px;
    max-height: 90%;
    box-shadow: $shadow-1;
    transition: margin-top 250ms $transition;
    cursor: default;
    padding: 14px;
    display: flex;
    flex-direction: column;

    textarea {
      font-family: inherit;
      font-size: 0.9em;
    }
    h1 {
      flex: none;
      margin: 0;
      padding: 0 14px;

      .title {
        margin-right: 14px;
      }
      .subtitle {
        color: $black-3;
        font-size: 0.8em;
      }
    }
    main {
      overflow: hidden;
      overflow-y: auto;
      flex: 1;
      padding: 14px 0;

      .rows {
        padding: 0;

        .rows {
          margin: 5px 0 0 0;

          .row {
            line-height: 30px;
            height: 30px;

            & > * {
              padding: 2px 14px;
            }
          }
        }
      }
    }
    footer {
      text-align: right;
      padding: 0 14px;

      .btn + .btn {
        margin-left: 14px;
      }
    }
  }
}

.modal-container-enter {
  opacity: 0;
  .modal {
    margin-top: 100px;
  }
}
.modal-container-enter-active {
  opacity: 1;
  .modal {
    margin-top: 0;
  }
}
.modal-container-exit {
  opacity: 1;
  .modal {
    margin-top: 0;
  }
}
.modal-container-exit-active {
  opacity: 0;
  .modal {
    margin-top: 100px;
  }
}
