@import "src/assets/vars";
@import "src/assets/buttons";
@import "src/assets/tiles";
@import "src/assets/table";
@import "src/assets/forms";

html,
body,
#app,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $background-1;
  font-size: 11pt;
  color: $text-dark-1;
  overflow: hidden;
  font-family: 'Montserrat', arial, sans-serif;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: $accent-1-light;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: adjust-color($accent-1, $alpha: -0.6);
}

::selection {
  color: $text-light-1;
  background: $accent-2;
}

* {
  box-sizing: border-box !important;
  position: relative;
}

.app {
  $popoverHeight: 50px;
  .popover-container {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    z-index: 2000;

    .error {
      height: 0;
      width: 100%;
      transition: height .15s $transition;
      background: red;
      color: $text-light-1;
      line-height: $popoverHeight;
      @include ellip;
      cursor: pointer;
      box-shadow: $shadow-1;
      pointer-events: initial;

      &:before {
        content: '✕';
        position: absolute;
        top: 0;
        left: 0;
        color: $text-light-2;
        font-size: 2em;
        height: $popoverHeight;
        line-height: $popoverHeight;
        width: $popoverHeight;
        text-align: center;
      }

      &.active {
        height: $popoverHeight;
      }
    }
    .success {
      margin: 0 auto;
      height: 0;
      top: 0;
      padding: 0 30px;
      line-height: $popoverHeight;
      background: $green;
      display: inline-block;
      color: $text-light-1;
      transition: .15s height $transition;
      box-shadow: $shadow-1;

      &.active {
        height: $popoverHeight;
      }
    }
  }
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  @include ellip();
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.3em;
}

.flex-container {
  display: flex;
  & > * {
    display: inline-block;
    flex: none;
  }
  &.flex-center {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &.flex-horizintal {
    flex-direction: row;
  }
  &.flex-vertical {
    flex-direction: column;
  }
  &.flex-fill {
    width: 100%;
  }
  .flex {
    display: inline-block;
    flex: 1;

    &.flex-container {
      display: inline-flex;
    }
  }
}

a:not(.btn) {
  color: $white-3;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.primary {
    color: $accent-2;
  }
}

.width-limit {
  max-width: $large-break;
  height: 100%;
  margin: 0 auto;
}

svg[role=presentation] {
  height: 30px;
  width: 30px;
  vertical-align: middle;

  path {
    fill: $text-dark-3;
  }
}
