@import "src/assets/vars";

input {
  border: none;
  border-bottom: 1px solid $black-4;
  width: 100%;
  height: 30px;
  background: transparent;
  text-indent: 4px;
  line-height: 30px;
  outline: none;

  &:focus {
    outline: initial;
  }
}
textarea {
  background: transparent;
  outline: none;
  border: 1px solid $black-4;
  min-height: 100px;
  width: 100%;
  resize: vertical;
  font-size: 1em;
  font-family: monospace;
  padding: 10px;
}
