@import "src/assets/vars";

.tiles {
  padding: 0 28px;
  margin: 0;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  &.tiles-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &.tiles-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .tile {
    padding: 20px 14px 20px 14px;
    border: 1px solid $black-4;
    transition: background .15s $transition,
                border-color .15s $transition;

    &.hover:hover {
      background: $accent-1-light;
      border-color: $accent-1;
    }
  }
}
